html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	margin: 0;
	color: $body-text-color;
	background-color: $body-background-color;
}

button{
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-appearance: button;
	user-select: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button:focus, button:hover{
	outline: none;
}