@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,700,900,500,700italic);

body{
  background-color: $body-background-color;
  color: $body-text-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: $body-line-height;
}

h1, h2, h3, h4{
  line-height: $heading-line-height;
}

h1{
  margin: 0 0 $heading-margin-bottom;
}

h2, h3, h4{
  margin: $heading-margin-top 0 $heading-margin-bottom;
}

h1{
	font-size: $h1-font-size;
}

h2{
	font-size: $h2-font-size;
}

h3{
	font-size: $h3-font-size;
}

h4{
	font-size: $h4-font-size;
}