/*

_variables.scss

contains variables for:
	
	-grid layout
	-responsive breakpoints
	-typography
	-colors
	-animation
	-borders
	-link styling
	-navbar styling
	-header styling
	-footer styling
	-icon styling

*/

/* grid layout */
$gutter: 2em;


/* responsive breakpoints */
$tablet: 480px;
$small: 768px;
$medium: 1000px;
$max-size: 1250px;


/* typography */
$font-scale: 1.4;
$p-font-size: 1em;
$h4-font-size: $p-font-size * $font-scale;
$h3-font-size: $h4-font-size * $font-scale;
$h2-font-size: $h3-font-size * $font-scale;
$h1-font-size: $h2-font-size * $font-scale;
$small-font-size: $p-font-size / $font-scale;
$body-line-height: 1.45;
$heading-line-height: 1.2;
$heading-margin-top: 1.414em;
$heading-margin-bottom: 0.5em;


/* colors */
$site-black: #333;
$site-white: #fdfdfd;
$body-background-color: $site-white;
$body-text-color: $site-black;


/* animation time */
$animation-time: 0.3s;


/* border params */
$border-radius: 3px;
$border-width: 1px;
$border-color: $site-black;


/* link color */
$link-color: #66e;
$link-color-active: #44e;
$link-color-visited: #22c;

/* navbar properties */
$navbar-height: $p-font-size * 4;
$navbar-max-height: $navbar-height * 6;
$navbar-background-color: $site-white;
$navbar-background-color-active: initial;
$navbar-color: $site-black;
$navbar-color-active: initial;
$navbar-icon-height: 0.25em;
$navbar-icon-spacing: 0.25em;
$navbar-icon-width: 4em;
$navbar-icon-radius: $border-radius;
$navbar-title-size: $h4-font-size;
$navbar-item-size: $p-font-size;

/* header properties */
$header-height: 20em;
$header-background: #335;
$header-color: $site-white;

/* footer properties */
$footer-background-color: #aaa;
$footer-color: $site-white;


/* icons */
$connect-button-size: 4em;
$connect-icon-size: $h3-font-size;
$linkedin-color: #eee;
$linkedin-color-active: #fff;
$linkedin-background-color: #0077B5;
$linkedin-background-color-active: #0086CC;
$github-color: #333;
$github-color-active: #1d1d1d;
$github-background-color: #eee;
$github-background-color-active: #fdfdfd;
$medium-color: #1d1d1d;
$medium-color-active: #000;
$medium-background-color: #fdfdfd;
$medium-background-color-active: #fff;