/* link colorss */
a{
	color: $link-color;

	&:hover, &:focus{
		color: $link-color-active;
	}

	&:visited{
		color: $link-color-visited;
	}
}

.navbar{
	@extend .clearfix;
	@extend .shadow-2;
	@include navbar;

	&__title{
		@include navbar-title;
	}

	&__button{
		@include navbar-button;
	}

	&__collapse{
		@include navbar-collapse;
	}

	&__item{
		@include navbar-item;
	}
}

.main{
	position:relative;
	overflow:hidden;
	padding-top: $navbar-height;
}

.header{
	@extend .global-header;
}

.body{
	@include container;

	padding-top: $gutter * 2;
	padding-bottom: $gutter * 2;

	&--bold{
		font-size: $h4-font-size;
		font-weight: 700;
	}

	&__portrait{
		border-radius: $border-radius;
		float: left;
		margin-right: $gutter / 2;
		//margin-bottom: $gutter / 2;

		width: 75px;

		@include small{
			width: auto;
			width: 150px;
		}
	}

	&__shadow{
		@extend .shadow-2;
		position: relative;
	}

	&__row{
		@include row;
		@include clearfix;
	}
	
	&__item{
		@include column;
		@include column-span(2,2);

		margin-bottom: $gutter;

		@include small{
			@include column-span(1,2);
			@include push-left(1,4);
		}
	}
}


.footer{
	width: 100%;

	background-color: $footer-background-color;
	color: $footer-color;
	padding: $gutter;
	
	&__item-row{
		@include row;
		@include clearfix;
	}

	&__item{
		@include column;
		@include column-span(1,2);
		margin-bottom: $gutter;

		&:first-child{
			@include column-span(2,2);

			&>p{
				text-align: center;
			}
		}

		@include small{
			@include column-span(1,3);

			&:first-child{
				@include column-span(1,3);
			}
		}
	}

	&__nav{
		list-style-type: none;
		padding: 0;
		margin: 0;

		&>li>a{
			text-decoration: none;
			color: inherit;
		}
	}

	&__copyright{
		text-align: right;
		font-size: $small-font-size;
		
		@include tablet{
			font-size: $p-font-size;
		}
	
		>a{
			text-decoration: none;
			color: inherit;
		}
	}
}

.connect{
	@include clearfix;
	@include row;

	margin-bottom: $gutter;

	&__item{
		@include column;
		@include column-span(1,3);
	}

	&__icon{
		@extend .shadow-2;
		@extend .shadow-4-hover;

		display: block;
		text-align: center;

		border-radius: $border-radius;
		height: $connect-button-size;
		padding: ($connect-button-size - $connect-icon-size) / 2 0;
		transition: color $animation-time, background-color $animation-time, box-shadow $animation-time;

		&>i{
			font-size: $connect-icon-size;
			line-height: 1.0;
		}
	
		&.linkedin{
			background-color: $linkedin-background-color;
	    color: $linkedin-color;

	    &:hover, &:focus{
				background-color: $linkedin-background-color-active;
				color: $linkedin-color-active;
	    }
		}

		&.github{
			background-color: $github-background-color;
	    color: $github-color;

	    &:hover, &:focus{
				background-color: $github-background-color-active;
				color: $github-color-active;
	    }
		}

		&.medium{
			background-color: $medium-background-color;
	    color: $medium-color;

	    &:hover, &:focus{
				background-color: $medium-background-color-active;
				color: $medium-color-active;
	    }
		}

	}
}

.param2drive{
	&__flash{
		border-width: 1px;
		border-style: solid;
    border-radius: 5px;
    font-weight: 700;

    &.error{
			background-color: #fdd;
			color: #f77;
			border-color: #f77;
		}

		&.success{
			background-color: #dfd;
    	color: #7d7;
    	border-color: #7d7;
		}
	}

	&>#p2d-features-label{
		&.invalid-features{
			&::before{
				content:"There must be atleast one feature to compute";
				color: #f99;
				font-weight: 700;
				display: block;
			}
		}
	}

	&__input-container{
		padding: $gutter / 2 0;

		&>label{
			transition: color 0.1s;
			display: block;
		}

		&.invalid-sequence, &.invalid-range, &.invalid-range-length, &.invalid-name{
			&>input[type="text"], &>textarea{
				border-color: #f99;
				box-shadow: inset 0 0px 1px rgba(0,0,0,0.3), inset 0 1px 2px rgba(0,0,0,0.2), 0 0 8px rgba(255,153,153,0.6);
			}

			&::before{
				color: #f99;
				font-weight: 700;
			}
		}
		
		&.invalid-name{
			&::before{
				content: "Must enter a protein name"
			}
		}

		&.invalid-sequence {
			&::before{
				content: "Must be a valid amino acid sequence";
			}
		}

		&.invalid-range-length{
			&::before{
				content: "Range length does not match sequence length";
			}
		}

		&.invalid-range {
			&::before{
				content: "Must be a residue range of the form #-# eg. 20-68";
			}
		}

		&>input[type="text"], &>textarea{
			@include shadow-inner(2);
		
			font-size: inherit;
			font-family: inherit;
			border: 1px solid #eee;
			border-radius: $border-radius;
			padding: $gutter / 4;
			transition: border-color 0.1s, box-shadow 0.1s;

			&:focus{
				border-color: #99f;
				box-shadow: inset 0 0px 1px rgba(0,0,0,0.3), inset 0 1px 2px rgba(0,0,0,0.2), 0 0 8px rgba(153,153,255,0.6);
			}
		}
	}

	&__button{
		@extend .shadow-2;
		@extend .shadow-4-hover;

		border-radius: $border-radius;
		padding: $gutter / 2;

		&:hover{
			cursor: pointer;
		}
	}
}

.p2drive-results{
	&__text{
		background: #fff;
	  border: 1px solid #333;
	  font-family: monospace;
	  word-break: break-word;
	  padding: $gutter / 2;
	}

	&__button-container{
		@extend .clearfix;
	}

	&__button{
		@extend .shadow-2;
		@extend .shadow-4-hover;

		padding: $gutter / 2;
		border-radius: $border-radius;
		transition: color $animation-time, background-color $animation-time, box-shadow $animation-time;

		&:hover{
			cursor: pointer;
		}

		&.undo{
			float: left;

			&:hover, &:focus{
				background-color: #fff;
				color: #000;
			}
		}

		&.drive{
			float: right;
			background-color: #4584EF;
			color: #eee;

			&:hover, &:focus{
				background-color: #2A79FF;
				color: #fdfdfd;
			}
		}
	}
}

.drive-profile{
	border-radius: 25px;
	margin-left: 10px;
	vertical-align: middle;
}

hr{
	border-color: #ccc;
	border-style: solid;
	border-top-width:0;
}

#p2d-range-container{
	font-size:0;

	&>*{
		font-size: 1rem;
	}
}

#p2d-full-length{
	width: 150px;
  border: solid 1px #999;
  background: #eee linear-gradient(to bottom, rgba(0,0,0,0.05), transparent);
  padding: $gutter / 4;
  border-radius: 0 $border-radius $border-radius 0;
  transition: background $animation-time;

  &:hover, &:focus{
  	background: #e5e5e5 linear-gradient(to bottom, rgba(0,0,0,0.1), transparent 50%);
  	cursor: pointer;
  }
}

#p2d-aa-range{
	width: calc(100% - 150px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}

#dialogue{
	@extend .clearfix;
	position: absolute;
	top:$navbar-height;
	z-index: 500;
	transform: translateZ(0);

	margin: $gutter / 4;
	padding: $gutter / 4;
	border: 1px solid #999;
	border-radius: $border-radius;
	background-color: rgba(245,245,245,0.8);
	>button{
		background-color: #59f;
		padding: $gutter / 4;
		color: #fdfdfd;
		border: 1px solid #999;
		border-radius: $border-radius;
		transition: background-color $animation-time;

		&:hover, &:focus{
			background-color:#6af;
			cursor: pointer;
		}
	}
	#prev{
		float:left;
	}
	#next{
		float:right;
	}

	@include small{
		width: 50%;
		margin-left: 25%;
	}
}