{{ define "title" }}Home{{ end }}

{{ define "body"}}

<div class="header">
	<h1>Taylor Stevens</h1>
	<h2>Biology and Programming</h2>
</div>

<div class="body__shadow">
	
<div class="body">
	<div class="body__row">
		<div class="body__item faq">
			<h2 class="faq__title">FAQ</h2>
			
			<p class="faq__question">Question here</p>
			<p class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			
			<p class="faq__question">Question here</p>
			<p class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			
			<p class="faq__question">Question here</p>
			<p class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			
			<p class="faq__question">Question here</p>
			<p class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			
			<p class="faq__question">Question here</p>
			<p class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>

			<p class="faq__question">Question here</p>
			<p class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		</div>
	</div>
</div>

</div>

{{ end }}
