{{ define "title" }}Home{{ end }}

{{ define "body"}}

<div class="header">
	<h1>Taylor Stevens</h1>
	<h2>Biology and Programming</h2>
</div>

<div class="body__shadow">
	
<div class="body">
	<div class="body__row">
		<div class="body__item">
			<p>
				<img src="http://placehold.it/150x150" class="body__portrait">
				<span class="body--bold">Biology is amazing on every scale.</span>
				My interest in biology started with enzymology. I am fascinated by the complexity of enzymes and the way in which they cooperate to create complex metabolic pathways that operate with great precision. Enzymology led me to structural biology, which has been the focus of my studies for the past two years. Taking our understanding of biology to the molecular level is a great for studying biology on the fundamental level. Structural biology provides the explanation for why many biochemical systems behave the way that they do. Since macromolecular structure is the primary interface between genes and biological function it also has many potential applications in synthetic biology. Studying structural biology has stimulated my interest in synthetic biology quite a bit. I believe that the perspective offered by structural biology could be very useful in developing novel biological mechanisms.<br><br>

				Learning to program was a natural extension of studying biology. It started with learning a bit of Python so I could write python scripts for analyzing protein structures in PyMol. I ended delving a bit deeper into Python and using it when any opportunity came up in my coursework or lab work. Curiosity led me to learning web development. Although it seems like an unrelated interest, I think web development is a very useful tool for helping to inform the general public and greater science community on scientific matters and for developing and distributing tools for processing and sharing data in a variety of biological fields.<br><br>

				I recently graduated from the University of Tennessee at Knoxville with a B.Sc. in Biochemistry, Cellular and Molecular Biology and a minor in Mathematics. I plan on starting a PhD program during Fall 2016. Over the next year I will be completing projects I started during my undergraduate studies, studying machine learning and statistical mechanics, and possibly pursuing an internship focused on synthetic biology. Any invitations to join projects or suggestions for potential projects that my skills would be relevant to are welcome. <a href="/contact">I can be reached at this page</a>. 
			</p>
		</div>
	</div>
</div>

</div>

{{ end }}
