{{ define "title" }}Home{{ end }}

{{ define "body"}}

<div class="header">
	<h1>Taylor Stevens</h1>
	<h2>Biology and Programming</h2>
</div>

<div class="body__shadow">
	
<div class="body">
	<div class="body__row">
		<div class="body__item projects">
			<h2 class="prpojects__title">My Projects</h2>
			<ul class="projects__list">
				<li class="projects__item"><a href="/projects/p2drive/intro" class="project__link">param2drive</a> - This is a webservice that computes simple biochemical parameters of a protein from a user-submitted sequence and saves the resulting information in a text document that is inserted into the users google drive account.</li>
				<li class="projects__item"><a target="_blank" href="http://vidhop.tv/" class="project__link">vidhop.tv</a> - This is a website I made with my friend and associate <a target="_blank" href="http://valentino.io/">Valentino Constintanou</a> that automaticaly streams high quality videos from youtube with a focus on interesting and entertaining content. You can choose one or multiple channels to customize your experience. The goal of this project is to create a convenient and more educational alternative to TV.</li>
				<li class="projects__item"><a href="http://structures.fyi" target="_blank">structures.fyi</a> - This is a website I am developing which presents protein structures in the form of a 3D presentation that the user can tinker with. It uses the WebGL based <a href="https://github.com/biasmv/pv" target="_blank">PV browser-based structure viewer</a> to render graphics, so a modern browser is required. It is mobile friendly, entertaining, immersive, and I hope that it can both make in-depth structural biology information easier to learn and increase the public's interest in structural biology.</li>
			</ul>
		</div>
	</div>
</div>

</div>

{{ end }}