{{ define "title" }}Home{{ end }}

{{ define "body"}}

<div class="header">
	<h1>Taylor Stevens</h1>
	<h2>Biology and Programming</h2>
</div>

<div class="body__shadow">
	
<div class="body">
	<div class="body__row">
		<div class="body__item projects">
			<h2 class="prpojects__title">My Projects</h2>
			<ul class="projects__list">
				<li class="projects__item"><a href="#" class="project__link">Projects link</a> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</li>
				<li class="projects__item"><a href="#" class="project__link">Projects link</a> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</li>
				<li class="projects__item"><a href="#" class="project__link">Projects link</a> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</li>
				<li class="projects__item"><a href="#" class="project__link">Projects link</a> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</li>
			</ul>
		</div>
	</div>
</div>

</div>

{{ end }}