{{ define "title" }}Home{{ end }}

{{ define "body"}}

<div class="header">
	<h1>Taylor Stevens</h1>
	<h2>Biology and Programming</h2>
</div>

<div class="body__shadow">
	
<div class="body">
	<div class="body__row">
		<div class="body__item site-map">
			<h2>Site Map</h2>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/resume">Resume</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</div>
	</div>
</div>

</div>

{{ end }}
