/*

_variables.scss

contains variables for:
	
	-grid layout
	-responsive breakpoints
	-typography
	-colors
	-animation
	-borders
	-link styling
	-navbar styling
	-header styling
	-footer styling
	-icon styling

*/
/* grid layout */
/* responsive breakpoints */
/* typography */
/* colors */
/* animation time */
/* border params */
/* link color */
/* navbar properties */
/* header properties */
/* footer properties */
/* icons */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,700,900,500,700italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic);
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  color: #333;
  background-color: #fdfdfd; }

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:focus, button:hover {
  outline: none; }

input[type="text"], textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0; }
  input[type="text"]:focus, textarea:focus {
    outline: none; }

body {
  background-color: #fdfdfd;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.45; }

h1, h2, h3, h4 {
  line-height: 1.2; }

h1 {
  margin: 0 0 0.5em; }

h2, h3, h4 {
  margin: 1.414em 0 0.5em; }

h1 {
  font-size: 3.8416em; }

h2 {
  font-size: 2.744em; }

h3 {
  font-size: 1.96em; }

h4 {
  font-size: 1.4em; }

.accent-font, .global-header > h1, .header > h1, .global-header > h2, .header > h2 {
  font-family: "Merriweather", serif; }

/* common mixins */
/* extendable classes */
.shadow-2, .navbar, .body__shadow, .connect__icon, .param2drive__button, .p2drive-results__button {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 3px rgba(0, 0, 0, 0.2); }

.shadow-4-hover, .connect__icon, .param2drive__button, .p2drive-results__button {
  -webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s; }
  .shadow-4-hover:hover, .connect__icon:hover, .param2drive__button:hover, .p2drive-results__button:hover, .shadow-4-hover:focus, .connect__icon:focus, .param2drive__button:focus, .p2drive-results__button:focus {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.2); }

.clearfix:after, .navbar:after, .p2drive-results__button-container:after, #dialogue:after {
  content: "";
  display: table;
  clear: both; }

.global-header, .header {
  width: 100%;
  height: 20em;
  background-color: #335;
  background-image: url(http://www.transparenttextures.com/patterns/subtle-zebra-3d.png);
  padding-top: 8.824em;
  padding-left: 1em;
  font-weight: 400; }
  @media (min-width: 768px) {
    .global-header, .header {
      padding-top: 8.3536em; } }
  .global-header > h1, .header > h1, .global-header > h2, .header > h2 {
    font-weight: inherit;
    color: #fdfdfd;
    margin: 0; }
  .global-header > h1, .header > h1 {
    font-size: 1.96em; }
    @media (min-width: 768px) {
      .global-header > h1, .header > h1 {
        font-size: 2.744em; } }
  .global-header > h2, .header > h2 {
    font-size: 1.4em;
    font-style: italic;
    color: #99e; }
    @media (min-width: 768px) {
      .global-header > h2, .header > h2 {
        font-size: 1.96em; } }

/* link colorss */
a {
  color: initial; }
  a:hover, a:focus {
    color: initial; }
  a:visited {
    color: initial; }

.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  overflow-y: hidden;
  padding: 0 1em;
  -webkit-transition: height 0.3s;
          transition: height 0.3s;
  height: 4em;
  max-height: 24em;
  background-color: #fdfdfd;
  color: #333; }
  .navbar__title {
    display: inline-block; }
    .navbar__title > a {
      display: inline-block;
      margin: 0;
      text-decoration: none;
      color: inherit;
      font-size: 1.4em;
      padding: 0.82857em 1em;
      line-height: 1.2;
      -webkit-transition: color 0.3s;
              transition: color 0.3s; }
      .navbar__title > a:hover, .navbar__title > a:focus {
        color: initial;
        background-color: initial; }
      .navbar__title > a > img {
        height: 2em;
        margin: -0.5em; }
  .navbar__button {
    width: 4em;
    padding: 1.375em 1em;
    float: right;
    cursor: pointer; }
    @media (min-width: 768px) {
      .navbar__button {
        display: none; } }
    .navbar__button-icon {
      width: 100%;
      height: 0.25em;
      margin-bottom: 0.25em;
      border-radius: 3px;
      background-color: #333;
      -webkit-transition: background-color 0.3s;
              transition: background-color 0.3s; }
      .navbar__button-icon:last-child {
        margin-bottom: 0; }
    .navbar__button:hover, .navbar__button:focus {
      background-color: initial; }
      .navbar__button:hover-icon, .navbar__button:focus-icon {
        background-color: initial; }
  @media (min-width: 768px) {
    .navbar__collapse {
      float: right;
      display: block; } }
  @media (min-width: 768px) {
    .navbar__item {
      display: inline-block;
      font-size: 1rem; } }
  .navbar__item > a {
    display: block;
    color: inherit;
    text-decoration: none;
    line-height: 1.2;
    font-size: 1em;
    padding: 1.4em 1em;
    -webkit-transition: color 0.3s, background-color 0.3s;
            transition: color 0.3s, background-color 0.3s; }
  .navbar__item.active > a, .navbar__item > a:hover, .navbar__item > a:focus {
    color: initial;
    background-color: initial; }
  .navbar__item-list {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    @media (min-width: 768px) {
      .navbar__item-list {
        font-size: 0; } }

.main {
  position: relative;
  overflow: hidden;
  padding-top: 4em; }

.body {
  max-width: 1250px;
  padding: 0 1em;
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 4em; }
  .body--bold {
    font-size: 1.4em;
    font-weight: 700; }
  .body__portrait {
    border-radius: 3px;
    float: left;
    margin-right: 1em;
    width: 75px; }
    @media (min-width: 768px) {
      .body__portrait {
        width: auto;
        width: 150px; } }
  .body__shadow {
    position: relative; }
  .body__row {
    margin-right: -1em;
    margin-left: -1em; }
    .body__row:after {
      content: "";
      display: table;
      clear: both; }
  .body__item {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 1em;
    width: 100%;
    margin-bottom: 2em; }
    @media (min-width: 768px) {
      .body__item {
        width: 50%;
        margin-left: 25%; } }

.footer {
  width: 100%;
  background-color: #aaa;
  color: #fdfdfd;
  padding: 2em; }
  .footer__item-row {
    margin-right: -1em;
    margin-left: -1em; }
    .footer__item-row:after {
      content: "";
      display: table;
      clear: both; }
  .footer__item {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 1em;
    width: 50%;
    margin-bottom: 2em; }
    .footer__item:first-child {
      width: 100%; }
      .footer__item:first-child > p {
        text-align: center; }
    @media (min-width: 768px) {
      .footer__item {
        width: 33.33333%; }
        .footer__item:first-child {
          width: 33.33333%; } }
  .footer__nav {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .footer__nav > li > a {
      text-decoration: none;
      color: inherit; }
  .footer__copyright {
    text-align: right;
    font-size: 0.71429em; }
    @media (min-width: 480px) {
      .footer__copyright {
        font-size: 1em; } }
    .footer__copyright > a {
      text-decoration: none;
      color: inherit; }

.connect {
  margin-right: -1em;
  margin-left: -1em;
  margin-bottom: 2em; }
  .connect:after {
    content: "";
    display: table;
    clear: both; }
  .connect__item {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 1em;
    width: 33.33333%; }
  .connect__icon {
    display: block;
    text-align: center;
    border-radius: 3px;
    height: 4em;
    padding: 1.02em 0;
    -webkit-transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
            transition: color 0.3s, background-color 0.3s, box-shadow 0.3s; }
    .connect__icon > i {
      font-size: 1.96em;
      line-height: 1.0; }
    .connect__icon.linkedin {
      background-color: #0077B5;
      color: #eee; }
      .connect__icon.linkedin:hover, .connect__icon.linkedin:focus {
        background-color: #0086CC;
        color: #fff; }
    .connect__icon.github {
      background-color: #eee;
      color: #333; }
      .connect__icon.github:hover, .connect__icon.github:focus {
        background-color: #fdfdfd;
        color: #1d1d1d; }
    .connect__icon.medium {
      background-color: #fdfdfd;
      color: #1d1d1d; }
      .connect__icon.medium:hover, .connect__icon.medium:focus {
        background-color: #fff;
        color: #000; }

.param2drive__flash {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  font-weight: 700; }
  .param2drive__flash.error {
    background-color: #fdd;
    color: #f77;
    border-color: #f77; }
  .param2drive__flash.success {
    background-color: #dfd;
    color: #7d7;
    border-color: #7d7; }

.param2drive > #p2d-features-label.invalid-features::before {
  content: "There must be atleast one feature to compute";
  color: #f99;
  font-weight: 700;
  display: block; }

.param2drive__input-container {
  padding: 1em 0; }
  .param2drive__input-container > label {
    -webkit-transition: color 0.1s;
            transition: color 0.1s;
    display: block; }
  .param2drive__input-container.invalid-sequence > input[type="text"], .param2drive__input-container.invalid-sequence > textarea, .param2drive__input-container.invalid-range > input[type="text"], .param2drive__input-container.invalid-range > textarea, .param2drive__input-container.invalid-range-length > input[type="text"], .param2drive__input-container.invalid-range-length > textarea, .param2drive__input-container.invalid-name > input[type="text"], .param2drive__input-container.invalid-name > textarea {
    border-color: #f99;
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 8px rgba(255, 153, 153, 0.6); }
  .param2drive__input-container.invalid-sequence::before, .param2drive__input-container.invalid-range::before, .param2drive__input-container.invalid-range-length::before, .param2drive__input-container.invalid-name::before {
    color: #f99;
    font-weight: 700; }
  .param2drive__input-container.invalid-name::before {
    content: "Must enter a protein name"; }
  .param2drive__input-container.invalid-sequence::before {
    content: "Must be a valid amino acid sequence"; }
  .param2drive__input-container.invalid-range-length::before {
    content: "Range length does not match sequence length"; }
  .param2drive__input-container.invalid-range::before {
    content: "Must be a residue range of the form #-# eg. 20-68"; }
  .param2drive__input-container > input[type="text"], .param2drive__input-container > textarea {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 2px 3px rgba(0, 0, 0, 0.2);
    font-size: inherit;
    font-family: inherit;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0.5em;
    -webkit-transition: border-color 0.1s, box-shadow 0.1s;
            transition: border-color 0.1s, box-shadow 0.1s; }
    .param2drive__input-container > input[type="text"]:focus, .param2drive__input-container > textarea:focus {
      border-color: #99f;
      box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 8px rgba(153, 153, 255, 0.6); }

.param2drive__button {
  border-radius: 3px;
  padding: 1em; }
  .param2drive__button:hover {
    cursor: pointer; }

.p2drive-results__text {
  background: #fff;
  border: 1px solid #333;
  font-family: monospace;
  padding: 1em; }

.p2drive-results__button {
  padding: 1em;
  border-radius: 3px;
  -webkit-transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
          transition: color 0.3s, background-color 0.3s, box-shadow 0.3s; }
  .p2drive-results__button:hover {
    cursor: pointer; }
  .p2drive-results__button.undo {
    float: left; }
    .p2drive-results__button.undo:hover, .p2drive-results__button.undo:focus {
      background-color: #fff;
      color: #000; }
  .p2drive-results__button.drive {
    float: right;
    background-color: #4584EF;
    color: #eee; }
    .p2drive-results__button.drive:hover, .p2drive-results__button.drive:focus {
      background-color: #2A79FF;
      color: #fdfdfd; }

.drive-profile {
  border-radius: 25px;
  margin-left: 10px;
  vertical-align: middle; }

hr {
  border-color: #ccc;
  border-style: solid;
  border-top-width: 0; }

#p2d-range-container {
  font-size: 0; }
  #p2d-range-container > * {
    font-size: 1rem; }

#p2d-full-length {
  width: 150px;
  border: solid 1px #999;
  background: #eee -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), transparent);
  background: #eee linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
  padding: 0.5em;
  border-radius: 0 3px 3px 0;
  -webkit-transition: background 0.3s;
          transition: background 0.3s; }
  #p2d-full-length:hover, #p2d-full-length:focus {
    background: #e5e5e5 -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent 50%);
    background: #e5e5e5 linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent 50%);
    cursor: pointer; }

#p2d-aa-range {
  width: calc(100% - 150px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0; }

#dialogue {
  position: absolute;
  top: 4em;
  z-index: 500;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: rgba(245, 245, 245, 0.8); }
  #dialogue > button {
    background-color: #59f;
    padding: 0.5em;
    color: #fdfdfd;
    border: 1px solid #999;
    border-radius: 3px;
    -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s; }
    #dialogue > button:hover, #dialogue > button:focus {
      background-color: #6af;
      cursor: pointer; }
  #dialogue #prev {
    float: left; }
  #dialogue #next {
    float: right; }
  @media (min-width: 768px) {
    #dialogue {
      width: 50%;
      margin-left: 25%; } }
