{{ define "base" }}

<!DOCTYPE html>
<html>
	
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{template "title" . }}</title>

	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	<link rel="stylesheet" type="text/css" href="/public/css/font-awesome/css/font-awesome.min.css">
	<link rel="icon" href="/public/icons/flask.ico">

</head>

<body>

<nav class="navbar">
	<div class="navbar__title">
		<a href="/"><img src="/public/icons/large-icon.png"></a>
	</div>
	<button class="navbar__button">
		<div class="navbar__button-icon"></div>
		<div class="navbar__button-icon"></div>
		<div class="navbar__button-icon"></div>
	</button>
	<div class="navbar__collapse">
		<ul class="navbar__item-list">
			<li class="navbar__item"><a href="/projects">Projects</a></li>
			<li class="navbar__item"><a target="_blank" href="/public/pdfs/CV.pdf">CV</a></li>
			<li class="navbar__item"><a href="/contact">Contact</a></li>
		</ul>
	</div>
</nav>

<div class="main">
	
{{ template "body" . }}

</div>

<footer class="footer">

	<div class="footer__item-row">
		<div class="footer__item">
			<p><strong>Connect</strong></p>
			<div id="connect" class="connect">
				<div class="connect__item">
					<a href="#" target="_blank" class="connect__icon facebook"><i class="fa fa-linkedin"></i></a>
				</div>
				<div class="connect__item">
					<a href="#" target="_blank" class="connect__icon twitter"><i class="fa fa-github"></i></a>
				</div>
				<div class="connect__item">
					<a href="#" target="_blank" class="connect__icon instagram"><i class="fa fa-medium"></i></a>
				</div>
			</div>
		</div>

		<div class="footer__item">
			<p><strong>Pages</strong></p>
			<ul class="footer__nav">
				<li><a href="/projects">Projects</a></li>
				<li><a href="/resume">Resume</a></li>
				<li><a href="/contacts">Contact</a></li>
			</ul>
		</div>

		<div class="footer__item">
			<p><strong>Other links</strong></p>
			<ul class="footer__nav">
				<li><a href="/site-map">Site map</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</div>
	</div>

	<p class="footer__copyright">&copy;&nbsp;<a href="http://isotropic.io/" target="_blank">isotropic</a> web development all rights reserved</p>
</footer>

<script type="text/javascript" src="/public/js/animations.js"></script>

</body>

</html>

{{ end }}