{{ define "title" }}Home{{ end }}

{{ define "body"}}

<div class="header">
	<h1>Param2Drive</h1>
</div>

<div class="body__shadow">
	
<div class="body">
	<div class="body__row">
		<div class="body__item projects">
			<p>param2drive uses the <a href="http://biopython.org/wiki/Main_Page">Biopython library</a> to compute some common chemical properties of a protein from a user-submitted sequence. This information is then formatted into a text document and inserted into the users google drive service. The project was designed with the goal of encouraging biochemistry lab members to store this information in a way that is easy for other lab members to access.</p>
			<p><a href="/projects/p2drive/input">Click here to use param2drive.</a>(note: you will be prompted to give the site permission to access your google drive account before you can use param2drive)</p>
		</div>
	</div>
</div>

</div>

{{ end }}