{{ define "title" }}Home{{ end }}

{{ define "body"}}

<div class="header">
	<h1>Param2Drive</h1>
</div>

<div class="body__shadow">
	
<div class="body">
	<div class="body__row">
		<div class="body__item projects">
			<a href="/projects/p2drive/input">Click here to use param2drive</a><br>
			<small>you will be prompted to authorize google drive access for this site before proceeding.</small><br>
			
			<p>param2drive uses the <a href="http://biopython.org/wiki/Main_Page">Biopython library</a> to compute some common chemical properties of a protein from a user-submitted sequence. This information is then formatted into a text document and inserted into the user's google drive service. This project is driven by the goal of finding an easier, more consistent, and more shareable way of storing common biochemical information than in lab notebooks.</p>
			<br>
			<br>
			<small>If you notice any errors or want to suggest new changes <a href="https://github.com/tayste5000/tstevens/issues">let me know by opening an issue on the github repo</a>.  also welcome any constructive additions to the project on github.</small>
		</div>
	</div>
</div>

</div>

{{ end }}