{{ define "title" }}Home{{ end }}

{{ define "body"}}

<div id="viewer" style="height:500px">
  <div id="dialogue" style="position:absolute">
    <h2>Explore molecular life.</h2>
    <p>Life as we know it is the consequence of millions of molecules interacting with each other.
      Follow along with this presentation to see how these interactions work.
    </p>
    <button type="button" id="start">Start</button>
  </div>
</div>


<script type='text/javascript' src="/public/js/bio-pv.min.js"></script>

<script type="text/javascript" src="/public/js/structures.js"></script>

{{ end }}