{{ define "title" }}Home{{ end }}

{{ define "body"}}

<div class="header">
	<h1>Structural Biology Resources</h1>
</div>

<ul>
	<li><a target="_blank" href="https://en.wikipedia.org/wiki/Structural_biology">Wikipedia artical on structural biology</a></li>
	<li><a target="_blank" href="https://www.nigms.nih.gov/education/pages/factsheet_structuralbiology.aspx">Structural biology fact sheet</a></li>
	<li><a target="_blank" href="http://www.nature.com/nsmb/index.html">Nature Structural & Molecular Biology</a></li>
	<li><a target="_blank" href="http://sbkb.org/">Structural Biology Knowledge Base</a></li>
	<li><a href="/contact">Contact me</a> if there is anything else you think I should add here</li>
</ul>

<script type='text/javascript' src="/public/js/bio-pv.min.js"></script>

<script type="text/javascript" src="/public/js/structures.js"></script>

{{ end }}